{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Mes biens</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere risus et libero varius, a maximus diam laoreet. Duis in nunc commodo enim pellentesque posuere nec et lacus. Duis venenatis sapien sed lorem pharetra, nec cursus orci vehicula. Mauris sem orci, elementum id congue id, placerat vel nulla. Etiam in elementum risus. Donec in est porttitor mauris faucibus aliquam a ac purus. Nulla pharetra enim eget mauris facilisis ultricies.
        </p>
    </div>
{% endblock %}