{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Maison 1</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus posuere risus et libero varius, a maximus diam laoreet. Duis in nunc commodo enim pellentesque posuere nec et lacus. Duis venenatis sapien sed lorem pharetra, nec cursus orci vehicula. Mauris sem orci, elementum id congue id, placerat vel nulla. Etiam in elementum risus. Donec in est porttitor mauris faucibus aliquam a ac purus. Nulla pharetra enim eget mauris facilisis ultricies.</p>
    </div>
    <div class="card mb-3">
        <img src="/media/depreux-construction.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
    </div>
{% endblock %}