{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5 text-center">
        <h1>{{ property.title }}</h1>
    </div>

    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

{% endblock %}